- form_for current_object do |f|
  %table
    %tbody
  <%- for attribute in attributes -%>
      %tr
        %th= _"<%= model_name %>|<%= attribute.column.human_name %>"
        %td= f.<%= attribute.field_type %> :<%= attribute.name %>
  <% end -%>

  .buttons
    = submit_tags_for(current_object)