%h1=_"Listing <%= plural_name %>"

%table
  %theader
    %tr
<% for attribute in attributes -%>
      %th.<%= attribute.name %>=_"<%= attribute.column.human_name %>"
<% end -%>
      %th=_"Actions"
  %theader
    = render :partial => '<%= singular_name %>', :collection => current_objects

= link_to _('New <%= singular_name %>'), new_object_path 
