<% for attribute in attributes -%>
%td.<%= attribute.name %>= h <%= singular_name %>.<%= attribute.name %>
<% end -%>
%td
  = link_to _('Show'), object_path(<%= singular_name %>)
  |
  = link_to _('Edit'), edit_object_path(<%= singular_name %>)
  |
  = link_to _('Destroy'), object_path(<%= singular_name %>), :confirm => _('Really destroy <%= singular_name %>?'), :method => :delete
