%h1 Viewing <%= singular_name %>

%div[current_object]
<% for attribute in attributes -%>
  %p.<%= attribute.name %>
    %strong=_"<%= attribute.column.human_name %>"
    = h current_object.<%= attribute.name %>
<% end -%>

= link_to _('Edit'), edit_object_path
|
= link_to _('Destroy'), object_path, :confirm => _('Really destroy <%= singular_name %>?'), :method => :delete
|
= link_to _('Back'), objects_path
