%h1=_"<%= plural_name %>"

%table.autolink
  %thead
    %tr
<% for attribute in attributes -%>
      %th.<%= attribute.name %>=_"<%= attribute.column.human_name %>"
<% end -%>
      %th=_"Actions"
  %tbody
    - current_objects.each do |<%= singular_name %>|
      %tr
<% for attribute in attributes -%>
        %td.<%= attribute.name %>= h <%= singular_name %>.<%= attribute.name %>
<% end -%>
        %td
          = link_to _('Show'), object_path(<%= singular_name %>), :class => "autolink"

- if œ :<%= singular_name %>_mgt
  = link_to _('New <%= singular_name %>'), new_object_path
