%h1=_"Editing <%= singular_name %>"

= error_messages_for :<%= singular_name %>

= render :partial => "form", :locals => {:button => _("Edit")}

= link_to _('Show'), object_path
|
= link_to _('Back'), objects_path
