%h1=_"Creating <%= singular_name %>"

= error_messages_for :<%= singular_name %>

- form_for(:<%= singular_name %>, :url => objects_url) do |f|
  = render :partial => "form", :locals => {:f => f}

  .buttons
    %p= submit_tag _("Create")

= link_to _('Back'), objects_path
